<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="roboticarm">

    <ros2_control name="RobotSystem" type="system">

        <xacro:property name="PI" value="3.14159265359" />

        <!-- ros2_control Gazebo -->
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <joint name="base_base_plate_joint">
            <command_interface name="position">
            <param name="min">-${PI / 2}</param>
            <param name="max">${PI / 2}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="base_plate_forward_drive_arm_joint">
            <command_interface name="position">
            <param name="min">-${PI / 2}</param>
            <param name="max">${PI / 2}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="forward_drive_arm_horizontal_arm_joint">
            <command_interface name="position">
            <param name="min">-${PI / 2}</param>
            <param name="max">${PI / 2}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="claw_support_link_gripper_right_joint">
            <command_interface name="position">
            <param name="min">-${PI / 2}</param>
            <param name="max">0.0</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="claw_support_link_gripper_left_joint">
            <param name="mimic">claw_support_link_gripper_right_joint</param>
            <param name="multiplier">-1</param>
            <command_interface name="position">
            <param name="min">0.0</param>
            <param name="max">${PI / 2}</param>
            </command_interface>
        </joint>
    </ros2_control>

</robot>